@import 'font.css';

/****************************Next Match Section***************************/

#whole_next_match_area{
  background: #6730d3 url(../images/tr.png) repeat scroll 50% 0px;
  padding: 90px 0px;
}

#block-views-block-next-match-block-1-2{
 width: 50%;
 background: #2d2525;
 float: right;
}

.view-next-match .views-field-edit-node a{
  top: 10px !important;
}

.view-next-match tr:nth-of-type(2n+1){
  background: #2d2525 !important;
}

.view-next-match .table{
  margin: 0px;
}

.view-next-match tr:hover{
  background: #4a4a48 !important;
}

.view-next-match tr{
	height: 45px;
    border-bottom: 1px solid #4a4a48 !important;
    margin-bottom: 1px !important;
}

.view-next-match tr td{
	border-top: 0px!important;
    vertical-align: middle !important;
    position: relative !important;
}

.view-next-match .views-field-field-match-date{
  color: #a6a6a6;
  font-family: "Asap";
  padding: 0px 27px;
  font-size: 14px;
  border-right: 1px solid #4a4a48;
}

.view-next-match .views-field-edit-node{
  padding: 0px;
}

.view-next-match .views-field-field-first-team-name,
.view-next-match .views-field-field-second-team-name{
  color: #fff;
  font-size: 16px;
  padding: 0px 14px;
  text-transform: uppercase;
}

.view-next-match .views-field-nothing{
  color: #6730d3;
  font-size: 12px;
  text-transform: uppercase;
  padding: 0px;
}

.view-next-match .views-field-field-image{
	padding: 0px 0px 0px 60px; 
}

.view-next-match .views-field-field-second-team-logo{
  padding: 0px 60px 0px 0px;
}

.view-next-match .views-field-field-image img,
.view-next-match .views-field-field-second-team-logo img{
  height: 30px;
  max-width: 30px;
}

/********************Last Match Section*******************/

.view-last-match{
	position: relative;
}

.view-last-match .views_slideshow_cycle_teaser_section,
.view-last-match .views_slideshow_cycle_slide{
	width: 100% !important;
    height: 35px !important
}

.view-last-match .view-content{
	padding-top: 17px;
}

.view-last-match .views-row{
	overflow: hidden;
    padding-left: 20px;
    padding-top: 2px;
    background: rgba(0, 0, 0, 0.1);
    height:100%;
}

.view-last-match .views-row .views-field{
	float: left;
}

.view-last-match .views-row .views-field-field-first-team-name,
.view-last-match .views-row .views-field-field-second-team-name{
	padding: 0px 14px;
    font-size: 16px;
    color: #fff;
    text-transform: uppercase;
    line-height: 30px;
}

.view-last-match .views-row .views-field-nothing{
	color: #6730d3;
    font-size: 12px;
    line-height: 30px;
    padding: 0;
    text-transform: uppercase;
}

.view-last-match .views-row .views-field-nothing-1{
	float: right !important;
    margin-right: 11px;
}

.view-last-match .views-row .views-field-nothing-1 .read_more a{
	font-size: 12px;
    line-height: 29px;
    color: #6730d3;
    font-family: "Asap";
}

.view-last-match .views-row .views-field-nothing-1 .read_more a:hover{
	color: #fff;
}

.view-last-match .views-slideshow-controls-top {
    position: absolute;
    right: 0;
    top: -28px !important;
}

.view-last-match .views_slideshow_controls_text {
    display: inline-block;
    background: #2d2525;
    height: 33px;
}
.view-last-match .views_slideshow_controls_text a{
    margin: 0;
    height: 33px;
    width: 35px;
    line-height: 33px;
    position: relative;
    z-index: 1;
    display: block;
    float: left;
    left: 0;
    top: 0;
    right: 0;
    color: #6730d3;
}
.view-last-match .views_slideshow_controls_text a:hover{
  color: #fff;
}
.view-last-match .views_slideshow_controls_text a:before {
    left: 50%;
    margin-left: -4px;
}
.view-last-match .views_slideshow_controls_text_previous a:before {
    content: "\f104";
    font-family: FontAwesome;
    font-size: 19px;
    position: absolute;
}
.view-our-awards .views_slideshow_controls_text_pause a{
    display:none;
}

.view-last-match .views_slideshow_controls_text_next a:before {
    content: "\f105";
    font-family: FontAwesome;
    font-size: 19px;
    position: absolute;
}

.view-last-match .views-slideshow-controls-top .views_slideshow_controls_text_pause{
	display: none;
}

/****************************Last Video Section****************************/

.last_video_title{
	padding-bottom: 20px;
    text-align: center;
}

.last_video_title h2{
	font-size: 38px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.last_video_title h2 span{
	color: #6730d3;
}

.last-video-text{
    color: #a6a6a6;
    font-family: "Asap";
    padding: 0 0 35px;
    text-align: center;
    width: 80%;
    margin: auto;
}

.last_video_box{
	width: 80%;
    margin: auto;
}

.last_video_box iframe{
	width: 100%;
}

/************************Video Bottom Logo*******************************/

.view-video-bottom-logo{
	padding-top: 67px;
}

.view-video-bottom-logo .views_slideshow_cycle_teaser_section,
.view-video-bottom-logo .views_slideshow_cycle_slide{
	width: 100% !important;
}

.view-video-bottom-logo .views-row{
	float: left;
    width: 20%;
    padding-left: 35px;
}

.view-video-bottom-logo .views-slideshow-controls-bottom{
	text-align: center;
}

.view-video-bottom-logo .views_slideshow_pager_field{
	display: inline-block;
}

.view-video-bottom-logo .views_slideshow_pager_field_item{
	float: left;
    padding-left: 15px;
    margin-top: 15px;
    line-height: 0px;
}

.view-video-bottom-logo .views_slideshow_pager_field_item  .views-content-title{
	font-size: 0px;
    height: 13px;
    width: 13px;
    border-radius: 50%;
    border: 1px solid #f5f5f5;
    cursor: pointer;
}

.view-video-bottom-logo  .views_slideshow_pager_field_item.active .views-content-title{
	border-color: #6730d3;
}

.view-video-bottom-logo img{
	opacity: 0.6;
}

.view-video-bottom-logo img:hover{
	opacity: 1;
}

.view-product .product_content a.button_buy,
.player_area .image_wrapper .bio a{
  color: #000;
}
.player_area .image_wrapper .bio a:hover{
  color: #fff;
}

.head-bg{
    min-height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0 -110px;
}

.head-bg .head-title{
  position: absolute;
    top: 10%;
    left: 50%;
    color: #fff;
    font-size: 38px;
}
/*
.page-node-type-our-team #main_area{
  background-image: url('../images/Purple-Wallpaper-HD.jpg');
    background-size: 100% 336px;
    background-position-y: 135px;
    background-repeat: no-repeat;
}*/
#single-racer{
  margin-top: 40px;
}

.image-region .field--name-field-image{
    border: 4px solid #6730d3;
    box-shadow: 0 0 3px 0 #000;
}

.racer-region .r-number{
    width: 70px;
    height: 70px;
    line-height: 70px;
    vertical-align: top;
    text-align: center;
    background: #6730d3;
    color: #2d2525;
    display: inline-block;
    font-size: 38px;
}
.racer-region .r-title{
    margin: 7px 0 50px 30px;
    padding: 14px 0 0;
    text-transform: uppercase;
    font-size: 38px;
    display: inline-block;
}
.racer-region ul.r-items li:hover {
    background: #6730d3;
}
.racer-region ul.r-items{
    padding: 0;
    margin-left: 100px;
    width: 280px;
    list-style: none;
    border: 1px solid #e7e7e7;
    background: #fff;
    display: inline-block;
    vertical-align: top;
}
.racer-region ul.r-items li {
    padding: 10px 20px 8px 20px;
    border-top: 1px solid #e7e7e7;
    font-size: 0;
    transition: cubic-bezier(0.22, 0.61, 0.36, 1) all 600ms;
    -webkit-transition: cubic-bezier(0.22, 0.61, 0.36, 1) all 600ms;
}
.racer-region ul.r-items li .field--label{
    opacity: 0.5;
    color: #2d2525;
    text-align: left;
    text-transform: uppercase;
    width: 60%;
    display: inline-block;
    font-size: 15px;
}
.racer-region ul.r-items li .field--label:hover{
  opacity: 1;
}
.racer-region ul.r-items li .field--item a{
  color: #6730d3;
}
.racer-region ul.r-items li .field--item{
    width: 40%;
    display: inline-block;
    color: #6730d3;
    font-size: 16px;
    text-transform: uppercase;
    text-align: right;
    vertical-align: top;
}
.racer-region ul.r-items li .field--item:hover,
.racer-region ul.r-items li .field--item a:hover{
  color: #fff;
}
.achievements-item li{
  background: url(../images/icon-achievement.png);
  background-repeat: no-repeat;
    display: inline-block;
    width: 90px;
    height: 90px;
    background-size: 90px;
    margin-top: 10px;
    text-indent: -999px;
}
.racer-statusbar .progress{
  margin-bottom: 5px;
}
.progress .progress-bar{
  background-color: #6730d3;
}
.racer-region .socials {
    padding: 0 0 0 20px;
    display: inline-block;
    vertical-align: bottom;
    list-style: none;
}
.racer-region .socials li {
    padding: 0 0 0 7px;
    display: inline-block;
}
.socials li a {
    display: block;
    width: 36px;
    height: 36px;
    transition: cubic-bezier(0.22, 0.61, 0.36, 1) all 600ms;
    -webkit-transition: cubic-bezier(0.22, 0.61, 0.36, 1) all 600ms;
}
.socials .fa-stack-2x{
  color: #6730d3;
}
.socials .fa-stack-1x{
  color: #333;
}
.socials .fa-stack-1x:hover{
  color: #6730d3;
}
/*
.socials .twitter a {
    background: url(../images/socials-twitter.jpg);
}
.socials .facebook a {
    background: url(../images/socials-facebook.jpg);
}
.socials .google-plus a {
    background: url(../images/socials-google-plus.jpg);
}
.socials .pinterest a {
    background: url(../images/socials-pinterest.jpg);
}
.socials .linkedin a {
    background: url(../images/socials-linkedin.jpg);
}
*/
.field--name-field-bio field--label,
.page-node-type-our-team .page-title{
  display: none;
}
.line-inline{
    border-bottom: 1px solid #e7e7e7;
    margin-bottom: 30px;
    padding-top: 30px;
    clear: both;
}

@media (max-width: 767px) {
  .head-bg {
    background-position: 0;
  }
  .racer-region .socials {
    margin-left: 74px;
  }
  .racer-statusbar,.racer-bio {
    padding: 0 20px;
  }
}
@media (max-width: 991px){
  .racer-region .socials {
    margin-left: 74px;
  }
  .racer-statusbar,.racer-bio {
    padding: 0 20px;
  }
  .achievements-item li {
    width: 70px;
    height: 70px;
    background-size: 70px;
  }
}